.header {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body {
  min-width: 1px;
  max-width: 1365px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.picture {
  width: 50%;
  height: auto;
  border-radius: 40%;
  display: block;
  margin-left: auto;
  margin-right: 80%;
}

.card {
  /*top: 1em; */
  padding: 25px;
  border-radius: 1em;

  margin-right: 200px;
  margin-left: auto;
  margin-top: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 100px;
  padding-top: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
