.header {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.picture {
  display: block;
  margin-left: 250px;
  margin-right: auto;
  margin-top: 50px;
  width: 50%;
  border-radius: 40%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.link {
  display: block;
  margin-left: 250px;
  margin-right: 500px;
  margin-top: 50px;
  border: 15px solid green;
  padding: 50px;
}
