@import "../../vars.css";

.aboutcontainer {
  position: relative;
  /*display: flex; */
  align-items: center;
  justify-content: center;
  margin-top: 49px;
  padding-bottom: 30px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.abouttitle {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 33px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.aboutcontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.aboutdescription {
  font-size: 20px;
  font-family: var(--font-roboto);
  color: var(--color-text);
  margin-bottom: 52px;
}

.chatbotImg {
  width: 15%;
  max-width: 100px;
  border-radius: 50%;
  margin: auto;
  display: block;
  padding-bottom: 5px;
}

/* Modern Text Area Styling */
.question {
  width: 100%; /* Full width */
  max-width: 600px; /* Max width to control the size */
  height: 150px; /* Fixed height */
  padding: 15px; /* Padding inside the text area */
  font-size: 16px; /* Font size */
  line-height: 1.5; /* Line height */
  color: #ffffff; /* Text color */
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(240, 240, 240, 0.3)
  ); /* Gradient background */
  border: 1px solid #ccc; /* Border */
  border-radius: 8px; /* Rounded corners */
  /*box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  box-shadow: 0 0px 5px 0 #f263ff;
  margin: auto;
  display: block;
  resize: none;
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}

.question:focus {
  /*border-color: #f263ff; /* Border color on focus */
  box-shadow: 0 0px 10px 0 #f263ff; /* Shadow on focus */
  outline: none; /* Remove default outline */
}

.askBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  border-width: 0px;
  font-size: 15px;
  font-weight: 600;
  padding: 17px 26px;

  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin: auto;
  display: block;
}

.askBtn:hover {
  /*box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Add a glowing effect on hover */
  box-shadow: 0 0 10px #f263ff;
}

.askBtn:active {
  transform: translateY(2px);
  color: gray;
  border-color: #f263ff;
}

.response {
  width: 100%; /* Full width */
  max-width: 600px; /* Max width to control the size */
  height: 350px; /* Fixed height */
  padding: 15px; /* Padding inside the text area */
  font-size: 16px; /* Font size */
  line-height: 1.5; /* Line height */
  color: #ffffff; /* Text color */
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(240, 240, 240, 0.3)
  ); /* Gradient background */
  border: 1px solid #ccc; /* Border */
  border-radius: 8px; /* Rounded corners */
  /*box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  box-shadow: 0 0px 5px 0 #f263ff;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  display: block;
  resize: none;
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}

.response:focus {
  /*border-color: #66afe9; /* Border color on focus */
  box-shadow: 0 0px 10px 0 #f263ff; /* Shadow on focus */
  outline: none; /* Remove default outline */
}

@media screen and (max-width: 830px) {
  .aboutcontainer {
    flex-direction: column;
  }

  .aboutcontent {
    align-items: center;
  }
}

.loadingoverlay {
  position: absolute;
  top: 80%;
  left: 50%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.spinner {
  position: absolute;
  top: 70%;
  left: 49%;
  border: 4px solid rgba(247, 92, 255, 0.1);
  border-left-color: #f263ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

textarea:disabled,
button:disabled {
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(240, 240, 240, 0.3)
  ); /* Gradient background */
  cursor: not-allowed;
}
